// colors

$color-1: #423737;
$color-2: #5D5D5D;
$color-3: #00ADB5;
$color-4: #A3F7BF;
$color-5:#FFF199;
$white: #fff;
$off-white: #F8F8F8;
//fonts

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;

//animation-duration

$animation-duration: 0.6s;
