body {
  padding: 0;
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    color: #e4e4e4;
    background: rgba(27, 27, 27, 0.8);
    text-decoration: none; }

h2 {
  text-align: right;
  margin-bottom: 45px; }

h4 {
  text-align: right; }

.develop, .name, .design, .create {
  background: rgba(27, 27, 27, 0.8);
  padding: 1px 10px 1px 15px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #e4e4e4;
  font-weight: 400;
  font-size: 3.3em; }

.name {
  font-size: 2em; }

.mediaName {
  display: none; }

.bgImg {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(-45deg, rgba(51, 38, 45, 0.8) 0%, rgba(77, 129, 121, 0.8) 54%, rgba(125, 185, 232, 0.8) 100%), url("../background_2.jpeg");
  background: -o-linear-gradient(-45deg, rgba(51, 38, 45, 0.8) 0%, rgba(77, 129, 121, 0.8) 54%, rgba(125, 185, 232, 0.8) 100%), url("../background_2.jpeg");
  background: linear-gradient(135deg, rgba(51, 38, 45, 0.8) 0%, rgba(77, 129, 121, 0.8) 54%, rgba(125, 185, 232, 0.8) 100%), url("../background_2.jpeg");
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 0; }

.splash {
  margin-top: 15%;
  margin-right: 2%; }

.fa-linkedin,
.fa-envelope-o,
.fa-github {
  width: 53px;
  height: 53px;
  background: rgba(27, 27, 27, 0.8);
  color: #e4e4e4;
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 5px 0 5px 5px;
  margin-right: 15px; }
  .fa-linkedin:hover,
  .fa-envelope-o:hover,
  .fa-github:hover {
    background: 0;
    color: #1b1b1b;
    border: 2px inset #1b1b1b;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease; }

.fa-github, .fa-linkedin {
  padding-left: 9px; }

@media screen and (max-width: 1024px) {
  .bgImg {
    left: 50%;
    margin-left: -512px; } }
@media screen and (max-width: 920px) {
  .splash {
    margin-top: 30px;
    margin-right: 0; }

  .splashContent {
    display: block;
    max-width: 915px;
    margin-left: 55px;
    padding: 0; }
    .splashContent span {
      font-size: 2em; }
    .splashContent .mediaName {
      display: none; }
    .splashContent .name {
      text-align: center;
      font-size: 1em; }

  .socialMedia {
    max-width: 900px;
    margin: auto; }

  .social {
    display: flex;
    justify-content: center; }
    .social li {
      display: inline-block; } }
@media screen and (max-width: 320px) {
  .splash {
    margin-top: 30px;
    margin-right: 0;
    max-width: 320px; }

  .splashContent {
    margin-top: 10%;
    display: block;
    max-width: 320px;
    margin-left: 0; }
    .splashContent span {
      font-size: 1em; }
    .splashContent .mediaName {
      background: rgba(27, 27, 27, 0.8);
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      color: #e4e4e4;
      font-weight: 400;
      text-align: center;
      font-size: 1em;
      display: block;
      margin-left: 20px; }
    .splashContent .name {
      display: none; }

  .socialMedia {
    max-width: 310px;
    margin: auto; }

  .social {
    display: flex;
    justify-content: center; }
    .social li {
      display: inline-block; }

  .bgImg {
    background: #e4e4e4;
    margin-left: 0;
    left: 0; } }

/*# sourceMappingURL=styles.css.map */
