body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #1b1b1b; }

ul, li {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h2 {
  text-align: right;
  margin-bottom: 30px; }

h4 {
  text-align: right; }

.splash {
  margin-top: 10%;
  margin-right: 2%;
  position: relative;
  z-index: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

.page-wrap {
  width: 100%; }

.arrow {
  color: #e4e4e4;
  font-size: 3.4em;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

.social {
  margin-left: 10px; }

.fa-linkedin,
.fa-envelope-o,
.fa-github {
  width: 50px;
  height: 50px;
  background: rgba(27, 27, 27, 0.8);
  color: #e4e4e4;
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 5px 0 5px 4px;
  margin-right: 15px; }
  .fa-linkedin:hover,
  .fa-envelope-o:hover,
  .fa-github:hover {
    background: 0;
    color: #1b1b1b;
    border: 2px inset #1b1b1b;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease; }

.fa-github, .fa-linkedin {
  padding-left: 7px; }

.toggle {
  text-decoration: none;
  font-size: 30;
  width: 30px;
  height: 30px;
  color: #1b1b1b;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  position: fixed;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 30px;
  z-index: 1;
  cursor: pointer; }
  .toggle:hover {
    color: #7dd1c4;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }

.sidebar {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: -50%;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  width: 47%;
  padding: 30px;
  background: rgba(51, 38, 45, 0.93);
  z-index: 0;
  -webkit-box-shadow: 7px 3px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 3px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 3px 11px -1px rgba(0, 0, 0, 0.75); }
  .sidebar li {
    font-family: "avenir", "proxima-nova", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: space-between; }
    .sidebar li a {
      color: #e4e4e4;
      padding: 10px 30px 9px 9px;
      font-size: 1.3em; }
      .sidebar li a:hover {
        color: #7dd1c4;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease; }

#sidebarToggle {
  display: none; }
  #sidebarToggle:checked + .page-wrap .sidebar {
    left: 0px; }
  #sidebarToggle:checked + .page-wrap .toggle {
    left: 480px; }

.sideSocial {
  display: flex;
  justify-content: center;
  margin-top: 20%; }
  .sideSocial li a {
    border: 0;
    background: 0;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0; }
    .sideSocial li a:hover {
      background: 0;
      border: 0; }
  .sideSocial .fa-linkedin,
  .sideSocial .fa-envelope-o,
  .sideSocial .fa-github {
    background: 0; }
    .sideSocial .fa-linkedin:hover,
    .sideSocial .fa-envelope-o:hover,
    .sideSocial .fa-github:hover {
      border: 0;
      color: #7dd1c4;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }

.phone {
  text-align: center;
  font-size: 1.2em;
  color: #e4e4e4;
  font-family: "avenir", "proxima-nova", sans-serif;
  margin-top: -38px; }
  .phone a {
    color: #e4e4e4; }
    .phone a:hover {
      color: #7dd1c4;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  .phone .phoneLogo, .phone .emailLogo, .phone .resumeLogo {
    padding-right: 10px; }
  .phone:hover {
    color: #7dd1c4;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.sidephone {
  text-align: center;
  font-size: 1.2em;
  color: #e4e4e4;
  font-family: "avenir", "proxima-nova", sans-serif;
  margin-top: -38px;
  margin-bottom: 10%; }
  .sidephone a {
    color: #e4e4e4; }
    .sidephone a:hover {
      color: #7dd1c4;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  .sidephone .phoneLogo, .sidephone .emailLogo, .sidephone .resumeLogo {
    padding-right: 10px; }
  .sidephone:hover {
    color: #7dd1c4;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }

/*
	&:hover {

		text-decoration: underline;

	}
	.phoneLogo {
		padding-right: 10px;
	}
} */
.develop, .name, .subHead, .pageHead, .aboutMe, .design, .create {
  background: rgba(27, 27, 27, 0.8);
  padding: 1px 10px 1px 15px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #e4e4e4;
  font-weight: 400;
  font-size: 2.5em; }

.name, .subHead {
  font-size: 1.3em; }

.pageHead {
  font-size: 1.3em;
  text-align: center; }

.aboutMe {
  font-size: 1.3em; }

.mediaName {
  display: none; }

.bgImg {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(-45deg, rgba(51, 38, 45, 0.8) 0%, rgba(77, 129, 121, 0.8) 54%, rgba(125, 185, 232, 0.8) 100%), url("../background_2.jpeg");
  background: -o-linear-gradient(-45deg, rgba(51, 38, 45, 0.8) 0%, rgba(77, 129, 121, 0.8) 54%, rgba(125, 185, 232, 0.8) 100%), url("../background_2.jpeg");
  background: linear-gradient(135deg, rgba(51, 38, 45, 0.8) 0%, rgba(77, 129, 121, 0.8) 54%, rgba(125, 185, 232, 0.8) 100%), url("../background_2.jpeg");
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 0; }

.menu-cont {
  float: right;
  display: block;
  cursor: pointer;
  padding: 20px; }

.menu-txt {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  bottom: 3px;
  color: #e4e4e4;
  text-transform: uppercase;
  font-family: "avenir", "proxima-nova", sans-serif;
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

.menu {
  content: "";
  display: inline-block;
  position: relative;
  float: right;
  opacity: 1;
  height: 3px;
  width: 30px;
  background-color: #e4e4e4;
  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  transition: transform 400ms ease; }
  .menu.active {
    -webkit-transform: rotate(45deg) translateY(12px);
    -moz-transform: rotate(45deg) translateY(12px);
    -ms-transform: rotate(45deg) translateY(12px);
    -o-transform: rotate(45deg) translateY(12px);
    transform: rotate(45deg) translateY(12px); }
    .menu.active:before {
      opacity: 0; }
    .menu.active:after {
      -webkit-transform: rotate(-450deg) translateX(16px);
      -moz-transform: rotate(-450deg) translateX(16px);
      -ms-transform: rotate(-450deg) translateX(16px);
      -o-transform: rotate(-450deg) translateX(16px);
      transform: rotate(-450deg) translateX(16px); }
  .menu:before, .menu:after {
    content: "";
    display: block;
    position: absolute;
    opacity: 1;
    height: 3px;
    width: 30px;
    background-color: #e4e4e4; }
  .menu:before {
    top: 8px;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    transition: opacity 400ms ease; }
  .menu:after {
    top: 16px;
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    transition: transform 400ms ease; }

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1000;
  margin-top: -20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  nav ul {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    float: right;
    margin-top: 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  nav li {
    vertical-align: middle;
    display: inline-block;
    width: 19%;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    nav li a {
      font-family: "avenir", "proxima-nova", sans-serif;
      font-weight: 400;
      font-size: 22px;
      display: inline-block;
      width: 100%;
      color: #1b1b1b;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      nav li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: #e4e4e4;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      nav li a:hover {
        color: #7dd1c4; }
    nav li a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1); }

.aboutBg nav {
  margin-top: 0; }

.fixedNav {
  background-color: rgba(255, 255, 255, 0.9);
  height: 60px; }
  .fixedNav ul {
    margin-top: 20px; }
  .fixedNav li {
    margin-bottom: 20px; }
  .fixedNav a {
    color: #1b1b1b;
    font-size: 16px; }
  .fixedNav a:before {
    background-color: #1b1b1b;
    height: 1px; }

.pageBg {
  background-color: white;
  height: 100%; }
  .pageBg h4 {
    text-align: left; }
  .pageBg h2 {
    margin-top: 3%;
    text-align: left; }

.slick-prev:before, .slick-next:before {
  color: #4d8179; }

.slick-dots {
  bottom: 94%; }

.workSide {
  width: 40%; }

.slick-slide {
  margin-top: 2%; }

.workExamples {
  margin-top: -33px; }
  .workExamples h3 {
    color: #33262D;
    font-family: "avenir", "proxima-nova", sans-serif;
    text-transform: uppercase;
    border-bottom: 5px double #33262D;
    text-align: center;
    font-size: 2.4em;
    border-bottom-width: 10px;
    border-bottom-color: rgba(27, 27, 27, 0.4);
    margin-top: 0; }
  .workExamples img, .workExamples poster {
    width: 100%;
    border: 2px solid #e4e4e4;
    border-radius: 5px;
    height: 380px; }

.btns {
  margin-top: -13px;
  display: flex;
  justify-content: center; }

.slideBtn {
  border: 3px solid rgba(27, 27, 27, 0.8);
  text-transform: uppercase;
  font-family: "avenir", "proxima-nova", sans-serif;
  text-align: center;
  padding: 10px;
  color: #1b1b1b;
  margin-right: 25px; }
  .slideBtn:hover {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    background-color: rgba(27, 27, 27, 0.8);
    color: #e4e4e4; }

.tech {
  margin-bottom: 30px; }
  .tech h5 {
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: "avenir", "proxima-nova", sans-serif;
    color: #4d8179; }

.techLeft p, .techRight p {
  margin: 0; }

.techRight {
  padding: 0; }

video.vid {
  width: 100%;
  border: 2px solid #e4e4e4;
  border-radius: 5px;
  height: 380px; }

.image-slider {
  position: relative;
  display: inline-block;
  line-height: 0; }

.image-slider > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25px;
  max-width: 100%;
  overflow: hidden;
  resize: horizontal; }

/* Cross-browser resizer styling */
.image-slider > div:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 13px;
  height: 13px;
  padding: 5px;
  background: linear-gradient(-45deg, white 50%, transparent 0);
  background-clip: content-box;
  cursor: ew-resize;
  -webkit-filter: drop-shadow(0 0 2px black);
  filter: drop-shadow(0 0 2px black); }

.image-slider img {
  user-select: none;
  width: 100%; }

.aboutBg {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(-45deg, rgba(51, 38, 45, 0.8) 0%, rgba(77, 129, 121, 0.8) 54%, rgba(125, 185, 232, 0.8) 100%), url("../background_2.jpeg");
  background: -o-linear-gradient(-45deg, rgba(51, 38, 45, 0.8) 0%, rgba(77, 129, 121, 0.8) 54%, rgba(125, 185, 232, 0.8) 100%), url("../background_2.jpeg");
  background: linear-gradient(135deg, rgba(51, 38, 45, 0.8) 0%, rgba(77, 129, 121, 0.8) 54%, rgba(125, 185, 232, 0.8) 100%), url("../background_2.jpeg");
  background-size: cover;
  z-index: 0; }
  .aboutBg h4 {
    font-size: 1.7em;
    text-align: left;
    margin-bottom: 3%; }
  .aboutBg h5 {
    font-size: 1.3em;
    margin-bottom: 1%; }

.aboutHeader {
  margin-left: 0;
  padding-left: 0; }

.about {
  margin-bottom: 0;
  text-align: left; }

.comments {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 70%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* .contactBg {
	width: 100%;
	height: 100%;
	background:linear-gradient(rgba(51, 38, 45, 0.8), rgba(77, 129, 121, 0.6));
	background-size: cover;
	z-index: 0;
} */
.socialMediaContact {
  display: flex;
  justify-content: center;
  margin-top: 25%; }
  .socialMediaContact .social {
    display: flex; }

.centerContact h4 {
  text-align: center;
  margin-top: 1%;
  color: #1b1b1b; }
  .centerContact h4 a {
    color: #1b1b1b; }

.swipe {
  display: none; }

#and, #media {
  display: none; }

.none {
  display: none; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .container {
    width: 1050px; } }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .bgImg {
    left: 50%;
    margin-left: -512px; }

  .splash {
    margin-top: 30px;
    margin-right: 0; }

  .splashContent {
    display: block;
    max-width: 915px;
    margin-left: 55px;
    padding: 0; }
    .splashContent span {
      font-size: 2em; }
    .splashContent .mediaName {
      display: none; }
    .splashContent .name {
      text-align: center;
      font-size: 1em; }

  .socialMedia {
    max-width: 900px;
    margin: auto; }

  .social {
    display: flex;
    justify-content: center; }
    .social li {
      display: inline-block; }

  .splash {
    margin-top: 30px;
    margin-right: 0; }

  .splashContent {
    display: block;
    max-width: 915px;
    margin-left: 55px;
    padding: 0; }
    .splashContent span {
      font-size: 2em; }
    .splashContent .mediaName {
      display: none; }
    .splashContent .name {
      text-align: center;
      font-size: 1em; }

  .socialMedia {
    max-width: 900px;
    margin: auto; }

  .social {
    display: flex;
    justify-content: center; }
    .social li {
      display: inline-block; } }
/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .bgImg {
    left: 50%;
    margin-left: -512px; } }
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .bgImg {
    left: 50%;
    margin-left: -512px; } }
@media only screen and (min-width: 569px) and (max-width: 768px) {
  h2 {
    font-size: 25px; }

  h4 {
    font-size: 14px; }

  .arrow {
    display: none; }

  .splash {
    margin-top: 30px;
    margin-right: 0;
    max-width: 768px;
    width: 100%; }

  .splashContent {
    margin-top: 10%;
    display: block;
    max-width: 768px;
    width: 100%;
    margin-left: 0; }
    .splashContent span {
      font-size: 2em; }
    .splashContent .mediaName {
      background: rgba(27, 27, 27, 0.8);
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      color: #e4e4e4;
      font-weight: 400;
      text-align: center;
      font-size: 1em;
      display: block;
      margin-left: 20px; }
    .splashContent .name {
      display: none; }

  .subHead {
    font-size: 1.1em; }

  .social {
    display: flex;
    justify-content: center; }
    .social li {
      display: inline-block; }

  .bgImg, .aboutBg {
    background: -webkit-linear-gradient(bottom left, rgba(51, 38, 45, 0.7) 0%, rgba(77, 129, 121, 0.7) 54%, rgba(125, 185, 232, 0.7) 100%), url("../background_2.jpeg");
    background: -o-linear-gradient(bottom left, rgba(51, 38, 45, 0.7) 0%, rgba(77, 129, 121, 0.7) 54%, rgba(125, 185, 232, 0.7) 100%), url("../background_2.jpeg");
    background: linear-gradient(to top right, rgba(51, 38, 45, 0.7) 0%, rgba(77, 129, 121, 0.7) 54%, rgba(125, 185, 232, 0.7) 100%), url("../background_2.jpeg");
    margin-left: 0;
    left: 0; }

  .slick-dots {
    display: none; }

  .slideBtn {
    margin-right: 17px;
    margin-left: 14px;
    margin-bottom: 10%; }

  .workExamples img, .workExamples poster {
    height: auto; }

  .swipe {
    display: block; }

  .comments {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 0;
    margin-right: 0;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    max-width: 768px;
    width: 100%; }

  .aboutBg h4 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 25px; }
  .aboutBg h5 {
    font-soze: 1.5em; }

  #full {
    display: none; }

  #and, #media {
    display: inline; }

  #and {
    padding-left: 10px;
    font-size: 1.5em; }

  .aboutMe {
    font-size: 0.9em; }

  .last {
    margin-top: 10%;
    text-align: center; }

  .lastAbout {
    margin-left: -35px;
    margin-right: -40px;
    font-size: 1em; }

  .top-nav {
    display: none; } }
/* iPhone 5 (portrait & landscape)----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) {
  h2 {
    font-size: 25px; }

  h4 {
    font-size: 14px; }

  .arrow {
    display: none; }

  .splash {
    margin-top: 30px;
    margin-right: 0;
    max-width: 568px;
    width: 100%; }

  .splashContent {
    margin-top: 10%;
    display: block;
    max-width: 568px;
    width: 100%;
    margin-left: 0; }
    .splashContent span {
      font-size: 2em; }
    .splashContent .mediaName {
      background: rgba(27, 27, 27, 0.8);
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      color: #e4e4e4;
      font-weight: 400;
      text-align: center;
      font-size: 1em;
      display: block;
      margin-left: 20px; }
    .splashContent .name {
      display: none; }

  .subHead {
    font-size: 1.1em; }

  .social {
    display: flex;
    justify-content: center; }
    .social li {
      display: inline-block; }

  .bgImg, .aboutBg {
    background: -webkit-linear-gradient(bottom left, rgba(51, 38, 45, 0.7) 0%, rgba(77, 129, 121, 0.7) 54%, rgba(125, 185, 232, 0.7) 100%);
    background: -o-linear-gradient(bottom left, rgba(51, 38, 45, 0.7) 0%, rgba(77, 129, 121, 0.7) 54%, rgba(125, 185, 232, 0.7) 100%);
    background: linear-gradient(to top right, rgba(51, 38, 45, 0.7) 0%, rgba(77, 129, 121, 0.7) 54%, rgba(125, 185, 232, 0.7) 100%);
    margin-left: 0;
    left: 0; }

  .slick-dots {
    display: none; }

  .slideBtn {
    margin-right: 17px;
    margin-left: 14px;
    margin-bottom: 10%; }

  .workExamples img, .workExamples poster {
    height: auto; }

  .swipe {
    display: block; }

  .comments {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 0;
    margin-right: 0;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    max-width: 568px;
    width: 100%; }

  .aboutBg h4 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 25px; }
  .aboutBg h5 {
    font-soze: 1.5em; }

  #full {
    display: none; }

  #and, #media {
    display: inline; }

  #and {
    padding-left: 10px;
    font-size: 1.5em; }

  .aboutMe {
    font-size: 0.9em; }

  .last {
    margin-top: 10%;
    text-align: center; }

  .lastAbout {
    margin-left: -35px;
    margin-right: -40px;
    font-size: 0.8em; }

  .top-nav {
    display: none; } }
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  h2 {
    font-size: 25px; }

  h4 {
    font-size: 14px; }

  .splash {
    margin-top: 30px;
    margin-right: 0;
    max-width: 480px;
    width: 100%; }

  .splashContent {
    margin-top: 10%;
    display: block;
    max-width: 480px;
    width: 100%;
    margin-left: 0; }
    .splashContent span {
      font-size: 2em; }
    .splashContent .mediaName {
      background: rgba(27, 27, 27, 0.8);
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      color: #e4e4e4;
      font-weight: 400;
      text-align: center;
      font-size: 1em;
      display: block;
      margin-left: 20px; }
    .splashContent .name {
      display: none; }

  .subHead {
    font-size: 1.1em; }

  .socialMedia {
    max-width: 480px;
    margin: auto; }

  .social {
    display: flex;
    justify-content: center; }
    .social li {
      display: inline-block; }

  .bgImg, .aboutBg {
    background: -webkit-linear-gradient(bottom left, rgba(51, 38, 45, 0.7) 0%, rgba(77, 129, 121, 0.7) 54%, rgba(125, 185, 232, 0.7) 100%);
    background: -o-linear-gradient(bottom left, rgba(51, 38, 45, 0.7) 0%, rgba(77, 129, 121, 0.7) 54%, rgba(125, 185, 232, 0.7) 100%);
    background: linear-gradient(to top right, rgba(51, 38, 45, 0.7) 0%, rgba(77, 129, 121, 0.7) 54%, rgba(125, 185, 232, 0.7) 100%);
    margin-left: 0;
    left: 0; }

  .slick-dots {
    display: none; }

  .slideBtn {
    margin-right: 17px;
    margin-left: 14px;
    margin-bottom: 10%; }

  .workExamples img, .workExamples poster {
    height: auto; }

  .swipe {
    display: block; }

  .comments {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 0;
    margin-right: 0;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    max-width: 480px;
    width: 100%; }

  .aboutBg h4 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 25px; }
  .aboutBg h5 {
    font-soze: 1.5em; }

  #full {
    display: none; }

  #and, #media {
    display: inline; }

  #and {
    padding-left: 10px;
    font-size: 1.5em; }

  .aboutMe {
    font-size: 0.9em; }

  .last {
    margin-top: 10%;
    text-align: center; }

  .lastAbout {
    margin-left: -35px;
    margin-right: -40px;
    font-size: 1em; }

  .top-nav {
    display: none; } }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  h2 {
    font-size: 25px; }

  h4 {
    font-size: 14px; }

  .splash {
    margin-top: 30px;
    margin-right: 0;
    max-width: 320px;
    width: 100%; }

  .splashContent {
    margin-top: 10%;
    display: block;
    max-width: 320px;
    width: 100%;
    margin-left: 0; }
    .splashContent span {
      font-size: 2em; } }
/*  @media only screen
and (max-width : 768px){
  #fullpage {
    display: none;
  }
}
@media only screen
and (max-width : 320px) {
} */

/*# sourceMappingURL=styles.css.map */
