$head-font: 'avenir', 'proxima-nova', sans-serif;
$body-font: 'Playfair Display', serif;
$light: #e4e4e4;  //light gray
$dark: #1b1b1b;  //dark dark gray
$accent: #33262D; //deep maroon
$accent-green: #4d8179; //teal
$accent-light: #7dd1c4; //light teal
$alphaDark: rgba(27, 27, 27, 0.8);
$text-shadow: 2px 2px 0px $dark;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;

@mixin shadow($shadow) {
  -webkit-box-shadow: ($shadow);
  -moz-box-shadow: ($shadow);
  box-shadow: ($shadow);
}
