$head-font: 'avenir', 'proxima-nova', sans-serif;
$body-font: 'Playfair Display', serif;
$light: #e4e4e4;  //light gray
$dark: #1b1b1b;  //dark dark gray
$accent: #33262D; //deep maroon
$accent-green: #4d8179; //teal
$accent-light: #7dd1c4; //light teal
$alphaDark: rgba(27, 27, 27, 0.8);


